Source: nvidia-x11-config
Section: misc
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: http://nxos.org


Package: nvidia-x11-config
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, nvidia-driver-520, nvidia-settings, nvidia-prime, libnvidia-egl-wayland1
Conflicts: nvidia-driver-390
Description: Configuration for the Nvidia
 proprietary driver used in Nitrux.

